.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.span {
  font-weight: 700;
  font-size: large;
}
.title {
  margin-bottom: 20px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.policy {
  color: #1976d2;
  padding: 2px;
  border-radius: 5px;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
  &:hover {
    background-color: #1976d2;
    color: #fff;
  }
}
