.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & .title {
    margin: 10px;
  }
  & .span {
    font-weight: 700;
    font-size: large;
    margin: 10px 0;
  }
}
