#root {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
:root {
  --c-header-color: #271f6e;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  min-height: 100vh;
  position: relative;
}
body {
  min-width: 340px;
  max-width: 1280px;
  margin: 0 auto inherit;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
  padding: 0 15px;
  font-style: normal;
}
input {
  font-family: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
